.col-sm-3.control-label.kyc {
    margin-left: 9rem;
}
.update-button {
    margin-top:10px;
}

.dropdown.bootstrap-select.show-tick.form-control.bs3 {
  padding: 0px 0px!important;
}

.btn.dropdown-toggle.btn-default.bs-placeholder {
  padding: 14px 15px;
}
.invest-admin-approval {
  margin-left: 9rem;
}

.d-none {
  display: none;
}


