body {
    font-family: "DeJaVu Sans", Helvetica, sans-serif;
    color: #121212;
    line-height: 15px;
}

table,
tr,
td {
    padding: 6px 6px;
    border: 1px solid black;
}

tr {
    height: 40px;
}

.date-range {
    width: 100%;
    margin: 0px auto;
}

.date {
    height: 80px;
}

.time-range {
    width: 80%;
    float: left;
    font-size: 13px;
    color: #383838;
    font-weight: 400;
}

.logo {
    width: 20%;
    float: left;
    font-size: 15px;
    color: #383838;
    font-weight: 400px;
}

.photo {
    width: 288px;
    height: 90px;
}

.clear {
    clear: both;
}

.top {
    margin-top: 30px;
}

.table {
    width: 100%;
    border-radius: 1px;
    border-collapse: collapse;
}

.table-row {
    background-color: #f0f0f0;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.table-data {
    background-color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
}

.fa-spin{
    display:none;
}

.dis-flex-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid rgba(0, 0, 0, .125);
    padding: 10px;
}

.background {
    background-color: white !important;
}

.invest-profit {
    color: rgb(148, 146, 146);
    font-size: 16px;
}