.d-flex-row {
    display: flex;
    flex-direction: row;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.d-justify-content-center {
    justify-content: center;
}

.d-justify-content-between {
    justify-content: space-between;
}

.d-justify-content-around {
    justify-content: space-around;
}

.w-600 {
    font-weight: bold;
}

/* font start */
.font-24 {
    font-size: 24px;
    line-height: 30px;
}

.font-20 {
    font-size: 12px;
    line-height: 25px;
}

.font-12 {
    font-size: 12px;
    line-height: 15px;
}

.font-16 {
    font-size: 16px;
    line-height: 20px;
}

.font-14 {
    font-size: 14px;
    line-height: 18px;
}

/* font end */

/* margin padding start */

.mt-6 {
    margin-top: 6px;
}

.ml-12 {
    margin-left: 12px;
}
.ml-active{
    margin-left: 21px;
}

.mt-5n {
    margin-top: -5px;
}

/* margin padding start */

.active-d {
    width: 54px;
    height: 24px;
    padding: 1px 5px 0px 5px;
    border-radius: 2px;
    background: #EBF9F1;
}

.bg-cancel-status{
    width: 70px;
    height: 24px;
    padding: 1px 5px 0px 5px;
    background: #F0D0D7;
    color: #f26767;
}
.bg-pending-status{
    width: 60px;
    height: 24px;
    padding: 1px 5px 0px 5px;
    background: #ecfcff;
    color: #17a2b8;
}
.bg-complete-status{
    width: 70px;
    height: 24px;
    padding: 1px 5px 0px 5px;
    background: #efefff;
    color: blue;
}
.div-dm {
    padding-bottom: 2px;

}

/* color start*/
.c-i-black {
    color: #2C2C2C;
}

.c-i-green {
    color: #009651;
}

.c-i-gray {
    color: #9B9B9B;
}

.bg-blue {
    background-color: #635BFF !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: unset !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.c-i-blue {
    color: #635BFF;
}

.c-i-light-blue {
    color: #9D80F8;
}

/* color end */
.approve-p {
    width: 110px;
    height: 35px;
    padding: 9px 33px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.mt-27 {
    margin-top: 27px;
}

.box-dm {
    width: 100%;
    padding: 36px 70px;
}

.right-btn-side {
    justify-content: end;
}

.box-dm-two {
    width: 100%;
    padding: 18px 70px;
}

.tab-content>.active {
    border-radius: 4px;
}

.bg-boxone {
    background: #F8F6FF;
    border: 1px solid #D9CFF7;
    border-radius: 4px;
}

.bg-boxtwo {
    background: #F9F9F9;
    border: 1px solid #DCDEE1;
    border-radius: 4px;
}

.font-15 {
    font-size: 15px;
    line-height: 19px;
}

.font-18 {
    font-size: 18px;
    line-height: 23px;
}

.font-30 {
    font-size: 14px;
    line-height: 38px;
}

.mb-unset {
    margin-bottom: 0px !important;
}

.mt-4 {
    margin-top: 4px;
}

.box-div-one {
  
    padding: 18px 20px;
}

.thumbnail {
    margin-bottom: 40px !important;
    padding: unset !important;
    border: 1px solid #ECF0F5 !important;
}

.thumbnail .caption {
    padding: unset !important;

}
.f-bold{
    font-weight: 600 !important;
}
.borders-bottomss {
    width: 95%;
    margin-left: 24px;
    margin-right: 24px;
    height: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.borders-bottom {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.borders-bottoms-tab {
    margin-top: -1px;
    width: 308px;
    margin-right: 41px;
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bd-btm {
    margin-top: -1px;
}

.bg-white {
    background-color: white;
}

.mt-9 {
    margin-top: 9px;
}

.mt-24 {
    margin-top: 24px;
}

/* Tabs panel */
.tabbable-panel {
    padding: 0px;
}

/* Default mode */
.tabbable-line>.nav-tabs {
    border: none;
    margin: 0px;
}

.tabbable-line>.nav-tabs>li {
    margin-right: 2px;
}

.tabbable-line>.nav-tabs>li>a {
    border: 0;
    margin-right: 0;
    color: #9B9B9B;
}

.tabbable-line>.nav-tabs>li>a>i {
    color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open>a,
.tabbable-line>.nav-tabs>li:hover>a {
    border: 0;
    background: none !important;
    color: #9B9B9B;
}

.tabbable-line>.nav-tabs>li.open>a>i,
.tabbable-line>.nav-tabs>li:hover>a>i {
    color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open .dropdown-menu,
.tabbable-line>.nav-tabs>li:hover .dropdown-menu {
    margin-top: 0px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #2c2c2c;
    border-bottom: 4px solid #635BFF;
    border-radius: 0;
    background-color: unset;
    width: 154px;
    top: 24px;
}
.nav-pills .nav-link, .nav-pills .nav-link {
    color: #9b9b9b;
    width: 154px;
}

.tabbable-line>.nav-tabs>li.active {
    width: 154px;
    border-radius: 4px;
    height: 5px;
    top: 26px;
    position: relative;
    background-image: url(../../border-btm.svg);

}

.tabbable-line>.nav-tabs>li.active>a {
    position: relative;
    border: 0;
    color: #2C2C2C;
    top: -27px;
}

.tabbable-line>.tab-content {
    margin-top: 20px;
    background-color: #fff;
    border: 0;
    padding: 0 0;
    border-radius: 4px;
}

.portlet .tabbable-line>.tab-content {
    padding-bottom: 0;
}

.f-bold {
    font-weight: bold !important;
}

.li-width {
    width: 154px;
}

.nav-padding>li>a {
    position: relative;
    display: block;
    padding: 2px 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.hh {
    width: 33% !important;
}

.pd-l-30p {
    width: 30% !important;
    background-color: #009651;
    margin-left: 26% !important;
}

.t-heads {
    padding: 10px 24px;
    background-color: #635BFF;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.t-bodys {
    padding: 11px 24px;
}

.w-700 {
    font-weight: 700px;
}

@media only screen and (min-width : 481px) {
    .flex-row.row {
      display: flex;
       flex-wrap: wrap;
    }
    .flex-row.row > [class*='col-'] {
      display: flex;
      flex-direction: column;
    }
    .flex-row.row:after, 
    .flex-row.row:before {
       display: flex;
    }
    .flex-row.row > [class*='col-'] > .box {
      display: flex;
       flex: 1;
    }
  }

  .flex-row .thumbnail,
  .flex-row .caption {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
  }
  
  .flex-row .caption p.flex-text {
      flex-grow: 1;
  }
  
  .flex-row img {
      width: 100%;
      height: auto;
  }
  
  .table-row.row,
  .table-row-equal {
      display: table;
      width: 100%;
      table-layout: fixed;
      word-wrap: break-word;
  }
  .table-row.row [class*="col-"] {
      width: 25%;
  }
  .table-row.row [class*="col-"],
  .table-row-equal .thumbnail {
      float: none;
      display: table-cell;
      vertical-align: top;
  }
  .table-row-equal {
      border-spacing: 30px 0px;
  }
  .table-row-equal .thumbnail {
      width: 1%;
  }

  @media only screen and (max-width: 480px) {
    .right-btn-side {
        justify-content: start;
    }
      .table-row-equal .thumbnail {
          display: block;
          width: 100%;
      }
  }
  
  .masonary-row.row {
      -webkit-column-gap: 30px;
      -moz-column-gap: 30px;
      column-gap: 30px;
      padding-left: 15px;
      padding-right: 15px;
      word-wrap: break-word;
      column-fill: balance;
  }
  .masonary-row [class*="col-"] {
      display: inline-block;
      width: 100%;
      height: 100%;
      float: none;
      padding: 0px;
      column-fill: balance;
  }
  
  
  @media (min-width: 480px) {
      .masonary-row.row {
          -webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2;
      }
  }
  @media (min-width: 768px) {
      .masonary-row.row {
          -webkit-column-count: 3;
          -moz-column-count: 3;
          column-count: 3;
      }
  }
  
  
  .bootflex .well {
          flex-grow: 1;
      }
  
  pre {
      display: flex;
      flex: 1;
  }
  .flex-row.flex-code.row > [class*='col-'] .flex-text {
      flex-grow: 1;
      display: flex;
  }

  @media (min-width:1024px) {
      .font-20 {
          font-size: 1.1vw;
          line-height: 25px
      }

      .font-30 {
          font-size: 1.4vw;
          line-height: 38px
      }
  }
  